
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}



.blaknapp {
    width: 357.2px;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    margin: auto;
    
    
    background: #007BCD;
    border: 1px solid #007BCD;

    transition: background-color .3s ease,color .3s ease;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;

    
}


/* ------------------------------------------------ Navigationsbar ---------------------------------------------------------------- */


.topwrapper {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    background-color: white;
    
    z-index: 3;
    height: 10vh;
    width: 100%;
    flex-direction: row;
    
    
}



.bilar  {

    
    grid-area: bilar;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 138, 138);
    font-size: 14px;

}



.omoss {
    grid-area: omoss;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 138, 138);
    font-size: 12px;
    margin-right: 6.5px;
}


.logo {
    grid-area: logo;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.volvologga {
    grid-area: logo;
    width: 90%;
    max-width: 64.28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.omoss2 {
    grid-area: omoss2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 138, 138);
    font-size: 14px;

}



.omoss3 {
    grid-area: omoss3;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 138, 138);
    font-size: 14px;

}



/* -------------------------------------------- Huvudsida ------------------------------------------------------------------*/

.solutions {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    left: -20px;
    top: 10vh;
    
    color: black;
}

.inledning {
    display: flex;
    width: 800px;
    height: 100%;
    justify-content: center;
    position: absolute;
    left: calc(50% - 400px);
    top: 15vh;

    color: black;
    font-size: 24px;
}

.link1 {
    position: absolute;
    left: calc(50% - 150px);
    top: 20vh;

    color: #007BCD;
    font-size: 24px;
}

.link2 {
    position: absolute;
    left: calc(50% - 150px);
    top: 25vh;

    color: #007BCD;
    font-size: 24px;
}

.link3 {
    position: absolute;
    left: 50%;
    top: 20vh;

    color: #007BCD;
    font-size: 24px;
}

.link4 {
    position: absolute;
    left: 50%;
    top: 25vh;

    color: #007BCD;
    font-size: 24px;
}

/*-------------------------------------------------- Solution 1 ---------------------------------------------------------*/

.volvo_refresh {
    width: 900px;
    height: auto;
    position: absolute;
    top: 35vh;
    left: 200px;
}

.losning1 {
    width: 700px;
    height: auto;
    position: absolute;
    left: 1150px;
    top: 45vh;

    color: black;
    font-size: 26px;
}

.losning1titel {
    width: 700px;
    height: auto;
    position: absolute;
    left: 1150px;
    top: 40vh;

    color: black;
    font-size: 36px;

}

.losning1knapp {
    position: absolute;
    top: 63vh;
    left: 1150px;
}

/*-------------------------------------------------- Solution 2 ---------------------------------------------------------*/

.volvo_refresh2 {
    width: 900px;
    height: auto;
    max-height: 448px;
    position: absolute;
    top: 90vh;
    right: 200px;
}

.losning2 {
    width: 700px;
    height: auto;
    position: absolute;
    right: 1150px;
    top: 100vh;

    color: black;
    font-size: 26px;
}

.losning2titel {
    width: 700px;
    height: auto;
    position: absolute;
    right: 1150px;
    top: 95vh;

    color: black;
    font-size: 36px;

}

.losning2knapp {
    position: absolute;
    top: 117vh;
    right: 1150px;
}

/*-------------------------------------------------- Solution 3 ---------------------------------------------------------*/


.volvo_refresh3 {
    width: 900px;
    height: auto;
    max-height: 448px;
    position: absolute;
    top: 150vh;
    left: 200px;
}

.losning3 {
    width: 700px;
    height: auto;
    position: absolute;
    left: 1150px;
    top: 160vh;

    color: black;
    font-size: 26px;
}

.losning3titel {
    width: 700px;
    height: auto;
    position: absolute;
    left: 1150px;
    top: 155vh;

    color: black;
    font-size: 36px;

}

.losning3knapp {
    position: absolute;
    top: 180vh;
    left: 1150px;
}

/*-------------------------------------------------- Solution 4 ---------------------------------------------------------*/

.volvo_refresh4 {
    width: 900px;
    height: auto;
    max-height: 448px;
    position: absolute;
    top: 200vh;
    right: 200px;
}

.losning4 {
    width: 700px;
    height: auto;
    position: absolute;
    right: 1150px;
    top: 210vh;

    color: black;
    font-size: 26px;
}

.losning4titel {
    width: 700px;
    height: auto;
    position: absolute;
    right: 1150px;
    top: 205vh;

    color: black;
    font-size: 36px;

}

.losning4knapp {
    position: absolute;
    top: 227vh;
    right: 1150px;
}


/* -------------------------------------------- nav bar för desktop  ---------------------------------------------------------------*/
 
    .bilar  {
        /* text-align: center; */
        width: 80px;
        margin-left: 80px;
        font-size: 18px;
        color: rgb(138, 138, 138);
    
    }



    .omoss {
        font-size: 18px;
        margin-left: 80px;
        width: 130px;
        color: rgb(138, 138, 138);
    }



    .volvologga {
       
        width: 80px;
        max-width: 80px;
        
    }


 
    .logo {
        position: fixed;
        top: 1.5vh;
        left: calc(50vw - 80px);
        width: 80px;
        
        
        
    }




    
    .omoss2 {
        font-size: 18px;
        width: 80px;
        margin-left: 80px;
        color:rgb(138, 138, 138);
    
    }
    


    .omoss3 {
    font-size: 18px;
    width: 80px;
    margin-left: 100px;
    color: rgb(138, 138, 138);
    
    

}



    .bil {
        height: 90vh;
        
    }

 /*---------------------------------------------------- Media queries mobil -----------------------------------------*/
 @media screen and (max-width: 1000px) {
    .topwrapper {
        position: fixed;
        display: flex;
        top: 0px;
        left: 0px;
        margin: 0px;
        
        height: 10vh;
        width: 100%;
        flex-direction: row;
        
        
    }
    
    
    
    .bilar  {
        text-align: center; 
        
        
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 0px;
        
        justify-content: center;
        align-items: center;
        color: rgb(138, 138, 138);
        font-size: 14px;
    
    }
    
    

    
    .omoss {
        text-align: center;
        width: 100%;
        height:auto;

        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(138, 138, 138);
        font-size: 12px;
        margin-left: 0px;
        margin-right: 0px;
        
        
    }
    
    
    .logo {
        
        width: 100%;
        height: auto;
        display: flex;
        justify-content: none;
        align-items: none;
        position: static;
        margin-top: 0px;
        left: 0px;
        top: 0px;
        
    }
    
    
    
    .volvologga {
        
        width: 100%;
        max-width: 64.28px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    
    .omoss2 {
        
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(138, 138, 138);
        font-size: 14px;
        margin-left: 0px;
        
    }
    
    
    
    .omoss3 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(138, 138, 138);
        font-size: 14px;
        margin-left: none;
        margin-left: 0px;
        
    
    }
    










.solutions {
    max-width: 355px;
    position: static;
    top: 10vh;
    left: none;
    right: none;
    bottom: none;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10vh;
    text-align: center;
    font-size: 22px;
}

.inledning {
    max-width: 355px;
    text-align: center;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;
    margin-left: auto;
    margin-right: auto;

    
    font-size: 18px;
}









.volvo_refresh {
    max-width: 355px;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;

    margin-top: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.volvo_refresh2, .volvo_refresh3, .volvo_refresh4 {
    max-width: 355px;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.losning1titel, .losning2titel, .losning3titel, .losning4titel {
    width: 355px;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;
    margin-left: auto;
    margin-right: auto;

    margin-top: 1vh;
    text-align: center;
}

.losning1, .losning2, .losning3, .losning4 {
    width: 355px;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;
    margin-left: auto;
    margin-right: auto;

    padding: 5px;
    margin-top: 0vh;
    text-align: center;
    font-size: 18px;
}

.losning1knapp, .losning2knapp, .losning3knapp, .losning4knapp {
    width: 355px;
    position: static;
    top: none;
    left: none;
    right: none;
    bottom: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}




/*----------------------------------------------------- Media queries middle -------------------------------------------------------*/






@media screen and (min-width: 768px) and (max-width: 1900px) {  







    




}